USE [DoAnLapTrinhTrenWIndows]
GO
/****** Object:  Table [dbo].[thue]    Script Date: 19/05/2020 12:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](50) NULL,
	[lname] [nvarchar](50) NULL,
	[cmnd] [nvarchar](50) NULL,
	[loaixe] [nvarchar](50) NULL,
	[hieuxe] [nvarchar](50) NULL,
	[bienso] [nvarchar](50) NULL,
	[giayphepxe] [nvarchar](50) NULL,
	[anh] [image] NULL,
	[ngayhd] [date] NULL,
	[trigiahd] [int] NULL,
	[ngaygiaoxe] [date] NULL,
	[ngayhethanthue] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[thue] ON 

SET IDENTITY_INSERT [dbo].[thue] OFF
