USE [DoAnLapTrinhTrenWIndows]
GO
/****** Object:  Table [dbo].[ThongKe]    Script Date: 19/05/2020 12:27:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKe](
	[mave] [int] NOT NULL,
	[bienso] [nvarchar](50) NOT NULL,
	[loaixe] [nvarchar](10) NULL,
	[hieuxe] [nchar](10) NULL,
	[hinhanh] [image] NOT NULL,
	[giovaoben] [time](7) NOT NULL,
	[ngayvaoben] [datetime] NOT NULL,
	[gioraben] [time](7) NOT NULL,
	[ngayraben] [datetime] NOT NULL,
	[tongtien] [int] NOT NULL,
	[loaive] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongKe] PRIMARY KEY CLUSTERED 
(
	[gioraben] ASC,
	[ngayraben] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
