USE [DoAnLapTrinhTrenWIndows]
GO
/****** Object:  Table [dbo].[GuiXe]    Script Date: 4/13/2020 7:59:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuiXe](
	[mave] [int] NOT NULL,
	[bienso] [nvarchar](50) NOT NULL,
	[loaixe] [nchar](10) NULL,
	[hieuxe] [nchar](10) NULL,
	[hinhanh] [image] NOT NULL,
	[giovaoben] [time](7) NOT NULL,
	[ngayvaoben] [datetime] NOT NULL,
	[loaive] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[mave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKe]    Script Date: 4/13/2020 7:59:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKe](
	[mave] [int] NOT NULL,
	[bienso] [nvarchar](50) NULL,
	[loaixe] [nvarchar](10) NULL,
	[hieuxe] [nchar](10) NULL,
	[hinhanh] [image] NULL,
	[giovaoben] [time](7) NOT NULL,
	[ngayvaoben] [datetime] NOT NULL,
	[gioraben] [time](7) NOT NULL,
	[ngayraben] [datetime] NOT NULL,
	[tongtien] [int] NOT NULL,
	[loaive] [nchar](10) NULL,
 CONSTRAINT [PK_ThongKe] PRIMARY KEY CLUSTERED 
(
	[mave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ThongKe] ([mave], [bienso], [loaixe], [hieuxe], [hinhanh], [giovaoben], [ngayvaoben], [gioraben], [ngayraben], [tongtien], [loaive]) VALUES (2, N'', N'Xe hoi', N'Martin    ', 0x, CAST(N'13:40:29.0925160' AS Time), CAST(N'2020-04-10T00:00:00.000' AS DateTime), CAST(N'16:16:24.2983904' AS Time), CAST(N'2020-04-13T16:16:24.300' AS DateTime), 20000, N'Vé gi?    ')
